.ContactData{

   width: 80%;
   border: 1px solid #eee;
   box-sizing: border-box;
   box-shadow: 2px 2px 3px #ccc;
   padding: 10px;
   text-align: center;
   margin: auto;

   }
   .ContactData input{
       display: block;
       font-size: 20px;
       padding: 5px;
       margin: auto;
   }